flows.json
[
    {
        "id": "16c561d0bd2db4f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41ec38ad59c0cf49",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2097d9a30c8e520c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a053172554a6aedb",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.250.1:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "8183cda1929e83aa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "10584f864ba3765e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7b9307d1947a13f0",
        "type": "ui_group",
        "name": "Tank Levels",
        "tab": "8183cda1929e83aa",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "581cf3edde4d02e5",
        "type": "ui_group",
        "name": "Temperature Readouts",
        "tab": "8183cda1929e83aa",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "3342ef65ea84e0bc",
        "type": "ui_group",
        "name": "pH ReadOuts",
        "tab": "8183cda1929e83aa",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "701c917fb989f805",
        "type": "ui_group",
        "name": "Switch",
        "tab": "8fcb15dc6d9b8602",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8fcb15dc6d9b8602",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "afad9ee5d42458b6",
        "type": "ui_link",
        "name": "Live-feed",
        "link": "http://192.168.1.67:85/",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 3
    },
    {
        "id": "e16e06ca.f38438",
        "type": "ui_group",
        "name": "Frame Statistics",
        "tab": "7af2d9c8.0a9148",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "675036dd.603328",
        "type": "ui_group",
        "name": "Frame Grab",
        "tab": "7af2d9c8.0a9148",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7af2d9c8.0a9148",
        "type": "ui_tab",
        "name": "RTSP",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80ae0189e474ec6e",
        "type": "comment",
        "z": "16c561d0bd2db4f4",
        "name": "Read data from PLC",
        "info": "",
        "x": 210,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee3a6572681df942",
        "type": "OpcUa-Client",
        "z": "16c561d0bd2db4f4",
        "endpoint": "a053172554a6aedb",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "2cb4a5df8abfe88a",
                "8bc0b01699c4d412"
            ]
        ]
    },
    {
        "id": "dd1d8145487cc6b6",
        "type": "inject",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "a8283461ddd302fa",
                "b3578a269a98ebf3"
            ]
        ]
    },
    {
        "id": "2cb4a5df8abfe88a",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug output from client",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "a8283461ddd302fa",
        "type": "OpcUa-Item",
        "z": "16c561d0bd2db4f4",
        "item": "ns=4;s=TestBitTag",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "9a2b10859adf0839"
            ]
        ]
    },
    {
        "id": "c201dfca83113604",
        "type": "comment",
        "z": "16c561d0bd2db4f4",
        "name": "Write Data to PLC",
        "info": "There is a limited number of clients you can use.\nYou can string commands together and push into a single client.",
        "x": 150,
        "y": 700,
        "wires": []
    },
    {
        "id": "5fc5cf3c28ed8110",
        "type": "OpcUa-Client",
        "z": "16c561d0bd2db4f4",
        "endpoint": "a053172554a6aedb",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 440,
        "y": 760,
        "wires": [
            [
                "cbf391f08b4a70a7"
            ]
        ]
    },
    {
        "id": "cbf391f08b4a70a7",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "fa1e40127948deab",
        "type": "ui_switch",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "701c917fb989f805",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "6bca2acab5cf3ecf"
            ]
        ]
    },
    {
        "id": "6bca2acab5cf3ecf",
        "type": "OpcUa-Item",
        "z": "16c561d0bd2db4f4",
        "item": "ns=4;s=TestBitTag",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "5fc5cf3c28ed8110"
            ]
        ]
    },
    {
        "id": "45707b0dc25941b1",
        "type": "ui_text",
        "z": "16c561d0bd2db4f4",
        "group": "701c917fb989f805",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Switch Status",
        "label": "Switch Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "b3578a269a98ebf3",
        "type": "OpcUa-Item",
        "z": "16c561d0bd2db4f4",
        "item": "ns=4;s=TankData",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6883df45a9ecbd49"
            ]
        ]
    },
    {
        "id": "673d50fce5f0ce38",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "Temperature 1",
        "group": "581cf3edde4d02e5",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature 1",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 580,
        "wires": []
    },
    {
        "id": "8bc0b01699c4d412",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "output splitter",
        "func": "var msg1 = {};\nvar msg2 = {};\n\nvar index;\nvar totalOutputs = 2\n\nconst returnArray = new Array(totalOutputs).fill(null);\nmsg1.topic = global.get(\"Topic1\");\nmsg2.topic = global.get(\"Topic2\");\n\nif (msg.topic == msg1.topic){\n    global.set(\"SwitchStatus\", msg.payload)\n    index = 0;\n}\n\nif (msg.topic == msg2.topic){\n    index = 1;\n}\n\nreturnArray[index] = msg;\n\nreturn returnArray;\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "45707b0dc25941b1",
                "9b1c5fad325e14f5"
            ],
            [
                "58b2a935cacd9715",
                "81f1b85473dca332"
            ]
        ]
    },
    {
        "id": "9a2b10859adf0839",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "assign SW1 to topic",
        "func": "var msg1 = {};\nmsg1.topic = msg.topic;\nglobal.set(\"Topic1\", String(msg1.topic));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "ee3a6572681df942"
            ]
        ]
    },
    {
        "id": "6883df45a9ecbd49",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "assign TankData to topic",
        "func": "var msg1 = {};\nmsg1.topic = msg.topic;\nglobal.set(\"Topic2\", String(msg1.topic));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "ee3a6572681df942"
            ]
        ]
    },
    {
        "id": "58b2a935cacd9715",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b1c5fad325e14f5",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug switch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "4d859a5388493dcf",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "Temperature 2",
        "group": "581cf3edde4d02e5",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature 2",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 620,
        "wires": []
    },
    {
        "id": "0f00d8704e4166e2",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "Temperature 3",
        "group": "581cf3edde4d02e5",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature 3",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 660,
        "wires": []
    },
    {
        "id": "80b357c10add4706",
        "type": "ui_chart",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "group": "3342ef65ea84e0bc",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#dd2727",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1130,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1f7c50c5d6e7d504",
        "type": "ui_text",
        "z": "16c561d0bd2db4f4",
        "group": "3342ef65ea84e0bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pH:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "81f1b85473dca332",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "TankData Splitter",
        "func": "var t1_msg = {};\nvar t2_msg = {};\nvar t3_msg = {};\nvar pH_msg = {};\nvar l1_msg = {};\nvar l2_msg = {};\nvar l3_msg = {};\n\nvar totalOutputs = 7;\n\nconst returnArray = new Array(totalOutputs).fill(null);\n\nt1_msg.payload = Math.round((msg.payload.temp1) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\nt2_msg.payload = Math.round((msg.payload.temp2) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\nt3_msg.payload = Math.round((msg.payload.temp3) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\npH_msg.payload = Math.round((msg.payload.pH) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\nl1_msg.payload = msg.payload.isTank1Full;\nl2_msg.payload = msg.payload.isTank2Full;\nl3_msg.payload = msg.payload.isTank3Full;\n\nreturnArray[0] = pH_msg;\nreturnArray[1] = t1_msg;\nreturnArray[2] = t2_msg;\nreturnArray[3] = t3_msg;\nreturnArray[4] = l1_msg;\nreturnArray[5] = l2_msg;\nreturnArray[6] = l3_msg;\n\nreturn returnArray;",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 500,
        "wires": [
            [
                "1f7c50c5d6e7d504",
                "80b357c10add4706"
            ],
            [
                "673d50fce5f0ce38"
            ],
            [
                "4d859a5388493dcf"
            ],
            [
                "0f00d8704e4166e2"
            ],
            [
                "9d878bc63699d184"
            ],
            [
                "c23e91d4c818845a"
            ],
            [
                "9640bcda8ccee4d2"
            ]
        ]
    },
    {
        "id": "de1f6b2b37e837cb",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "group": "7b9307d1947a13f0",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "wave",
        "title": "tank1Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1310,
        "y": 720,
        "wires": []
    },
    {
        "id": "61d9cc63a960f161",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "group": "7b9307d1947a13f0",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "wave",
        "title": "tank2Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1310,
        "y": 760,
        "wires": []
    },
    {
        "id": "43ea732ccb82d795",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "tank3Level",
        "group": "7b9307d1947a13f0",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "wave",
        "title": "Tank 3 Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1310,
        "y": 800,
        "wires": []
    },
    {
        "id": "9d878bc63699d184",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "function 2",
        "func": "var level;\n\nif (msg.payload == true){\n    level = 1;\n}\n\nmsg.payload = level;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 720,
        "wires": [
            [
                "de1f6b2b37e837cb"
            ]
        ]
    },
    {
        "id": "c23e91d4c818845a",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "function 3",
        "func": "var level;\n\nif (msg.payload == true){\n    level = 1;\n}\n\nmsg.payload = level;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 760,
        "wires": [
            [
                "61d9cc63a960f161"
            ]
        ]
    },
    {
        "id": "9640bcda8ccee4d2",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "function 4",
        "func": "var level;\n\nif (msg.payload == true){\n    level = 1;\n}\n\nmsg.payload = level;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 800,
        "wires": [
            [
                "43ea732ccb82d795"
            ]
        ]
    },
    {
        "id": "c0eaa1e3.932c2",
        "type": "inject",
        "z": "41ec38ad59c0cf49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ed28c584.34a4a8"
            ]
        ]
    },
    {
        "id": "31b99d4b.895742",
        "type": "exec",
        "z": "41ec38ad59c0cf49",
        "command": "ffmpeg -y -i rtsp://admin:zinc23@192.168.1.67:554/ch01/1 -vframes 1 -f image2pipe -vcodec png -",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Grab a frame->stdout",
        "x": 546.4999923706055,
        "y": 138.25,
        "wires": [
            [
                "2d96cf3d.0dffe"
            ],
            [],
            []
        ]
    },
    {
        "id": "2f7c77bd.2eeae8",
        "type": "function",
        "z": "41ec38ad59c0cf49",
        "name": "Statistics",
        "func": "var now = new Date();\nvar stat = context.get(\"stat\");\nif (stat===undefined) {\n    // Initialize the object in case NR restart\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n}\nif (msg.topic===\"reset\") {\n    // Reset message was received: reset statistics\n    stat = { \"count\": 0, \"success\": 0, \"rate\": 0.0, \"last\": now};\n} else {\n    // Update statistics\n    stat.count++;\n    if (msg.payload.code===0) {\n        stat.success++;\n    }    \n    stat.rate=stat.success/stat.count;\n    stat.last=now;\n}\n\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nmsg.formattedtime = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.success = stat.success;\nmsg.rate = Math.floor(stat.rate*100);\n\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Frames: \"+msg.success+\" | \"+msg.rate+\"% | Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n\n// Saving data in the context\ncontext.set(\"stat\",stat);\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 727.9999847412109,
        "y": 330.25,
        "wires": [
            [
                "122d531a.410bcd",
                "47913bc9.420b84",
                "5f987014.e8cba"
            ]
        ]
    },
    {
        "id": "b1f8f75e.c82c88",
        "type": "inject",
        "z": "41ec38ad59c0cf49",
        "name": "Reset stat",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "reset",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "99bfd7f8.6e8f78"
            ]
        ]
    },
    {
        "id": "122d531a.410bcd",
        "type": "ui_text",
        "z": "41ec38ad59c0cf49",
        "group": "e16e06ca.f38438",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Last time",
        "label": "Last grab",
        "format": "{{msg.formattedtime}}",
        "layout": "row-spread",
        "x": 929.0000686645508,
        "y": 250.64999198913574,
        "wires": []
    },
    {
        "id": "47913bc9.420b84",
        "type": "ui_text",
        "z": "41ec38ad59c0cf49",
        "group": "e16e06ca.f38438",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Frame count",
        "label": "Frames grabbed",
        "format": "{{msg.success}}",
        "layout": "row-spread",
        "x": 938.899974822998,
        "y": 286.4499807357788,
        "wires": []
    },
    {
        "id": "5f987014.e8cba",
        "type": "ui_text",
        "z": "41ec38ad59c0cf49",
        "group": "e16e06ca.f38438",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Success rate",
        "label": "Success rate",
        "format": "{{msg.rate}} %",
        "layout": "row-spread",
        "x": 939.8999481201172,
        "y": 324.4499740600586,
        "wires": []
    },
    {
        "id": "3bccc648.4f364a",
        "type": "ui_button",
        "z": "41ec38ad59c0cf49",
        "name": "Refresh",
        "group": "675036dd.603328",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh image",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "459f7922.af9ee8"
            ]
        ]
    },
    {
        "id": "14f4f2e2.2bf82d",
        "type": "comment",
        "z": "41ec38ad59c0cf49",
        "name": "Frame grabber",
        "info": "This section of the flow is responsible for \ngrabbing a single out of the RTSP feed of the IP\nCamera. It uses avconv to do that which is part\nof the libav-tools for raspberry pi.\n\nThe trigger can be an inject, or a UI button.\nThe statistic node keeps a track of the number of\ngrabbed frames and the success rate (when the\nvideo conversion/grabbing was successful). The \nStatistic node also has a reset input which can \nbe used to periodically reset the stats (e.g.\ndaily, weekly).\n\nI directed the second output of the Exec node to\na file, as the output of the avconv is usually \nquite long and if there are errors you don't\nsee the entire output in the debug window, so in\nthat case just open to output and see what the issue\nis.",
        "x": 108.62501525878906,
        "y": 84.00000762939453,
        "wires": []
    },
    {
        "id": "ed28c584.34a4a8",
        "type": "change",
        "z": "41ec38ad59c0cf49",
        "name": "Set filename",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "C:\\\\Users\\\\Samon\\\\node-red-static\\\\grab.jpg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 298,
        "y": 193,
        "wires": [
            [
                "9ce138d8.f118c8",
                "31b99d4b.895742"
            ]
        ]
    },
    {
        "id": "6eba2f2f.5e0f",
        "type": "template",
        "z": "41ec38ad59c0cf49",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"320px\" height=\"200px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 739.9999961853027,
        "y": 197.25000190734863,
        "wires": [
            [
                "dd3172bd.6a821"
            ]
        ]
    },
    {
        "id": "dd3172bd.6a821",
        "type": "ui_template",
        "z": "41ec38ad59c0cf49",
        "group": "675036dd.603328",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "5",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 926,
        "y": 210.75000095367432,
        "wires": [
            []
        ]
    },
    {
        "id": "2d96cf3d.0dffe",
        "type": "base64",
        "z": "41ec38ad59c0cf49",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "6eba2f2f.5e0f"
            ]
        ]
    },
    {
        "id": "9ce138d8.f118c8",
        "type": "exec",
        "z": "41ec38ad59c0cf49",
        "command": "ffmpeg -y -i rtsp://admin:zinc23@192.168.1.67:554/ch01/1 -vframes 1 -qscale:v 2",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Grab a frame -> jpg",
        "x": 537.9999847412109,
        "y": 255.25,
        "wires": [
            [],
            [],
            [
                "2f7c77bd.2eeae8"
            ]
        ]
    },
    {
        "id": "a5e46029.81ba4",
        "type": "watch",
        "z": "41ec38ad59c0cf49",
        "name": "",
        "files": "C:\\\\Users\\\\Samon\\\\node-red-static\\\\grab.jpg",
        "recursive": "",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "7081ec93.98cfa4"
            ]
        ]
    },
    {
        "id": "7081ec93.98cfa4",
        "type": "ui_text",
        "z": "41ec38ad59c0cf49",
        "group": "675036dd.603328",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "File Size",
        "label": "grab.jpg",
        "format": "{{msg.size}} kb",
        "layout": "row-spread",
        "x": 940,
        "y": 440,
        "wires": []
    },
    {
        "id": "459f7922.af9ee8",
        "type": "function",
        "z": "41ec38ad59c0cf49",
        "name": "Frame grab",
        "func": "var now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\n// file path with / at the end\nvar path = \"C:\\\\Users\\\\Samon\\\\node-red-static\";                     // This is the path\nvar filename = \"frame_\"+yyyy+mm+dd+\"-\"+hh+mm+ss+\".jpg\";     // file name\nmsg.payload = path + filename;                              // pass the full path to payload for the exec node to add to the end of the command\nmsg.file = filename;                                        // To be used later to store the information in the DB\nmsg.path = path;                                            // Same as above\nmsg.wwwpath = \"/\";                                          // Same as above\nmsg.topic = \"store\";                                        // Flag to store this image in the DB\nmsg.type = \"timelapse\";                                     // Image type e.g. Front camera, etc.\nmsg.epoch = now.getTime();                                  // Current timestamp\nmsg.formatteddate = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;   // Formatted timestamp to be used later\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "9ce138d8.f118c8",
                "54d35cc4.46d474"
            ]
        ]
    },
    {
        "id": "54d35cc4.46d474",
        "type": "ui_text_input",
        "z": "41ec38ad59c0cf49",
        "name": "",
        "label": "Snapshot",
        "tooltip": "",
        "group": "675036dd.603328",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "topicType": "str",
        "x": 930,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "31689e41.17fd82",
        "type": "ui_button",
        "z": "41ec38ad59c0cf49",
        "name": "Reset",
        "group": "e16e06ca.f38438",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "99bfd7f8.6e8f78"
            ]
        ]
    },
    {
        "id": "99bfd7f8.6e8f78",
        "type": "function",
        "z": "41ec38ad59c0cf49",
        "name": "Reset",
        "func": "msg.topic = 'reset';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "2f7c77bd.2eeae8"
            ]
        ]
    }
]