flows.json
[
    {
        "id": "16c561d0bd2db4f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41ec38ad59c0cf49",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a053172554a6aedb",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.250.1:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "8183cda1929e83aa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "10584f864ba3765e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7b9307d1947a13f0",
        "type": "ui_group",
        "name": "Tank Levels",
        "tab": "8183cda1929e83aa",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "581cf3edde4d02e5",
        "type": "ui_group",
        "name": "Temperature Readouts",
        "tab": "8183cda1929e83aa",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "3342ef65ea84e0bc",
        "type": "ui_group",
        "name": "pH ReadOuts",
        "tab": "8183cda1929e83aa",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "701c917fb989f805",
        "type": "ui_group",
        "name": "Switch",
        "tab": "8fcb15dc6d9b8602",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8fcb15dc6d9b8602",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "afad9ee5d42458b6",
        "type": "ui_link",
        "name": "Live-feed",
        "link": "http://192.168.1.67:85/",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 3
    },
    {
        "id": "80ae0189e474ec6e",
        "type": "comment",
        "z": "16c561d0bd2db4f4",
        "name": "Read data from PLC",
        "info": "",
        "x": 210,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee3a6572681df942",
        "type": "OpcUa-Client",
        "z": "16c561d0bd2db4f4",
        "endpoint": "a053172554a6aedb",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "2cb4a5df8abfe88a",
                "8bc0b01699c4d412"
            ]
        ]
    },
    {
        "id": "dd1d8145487cc6b6",
        "type": "inject",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "a8283461ddd302fa",
                "b3578a269a98ebf3"
            ]
        ]
    },
    {
        "id": "2cb4a5df8abfe88a",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug output from client",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "a8283461ddd302fa",
        "type": "OpcUa-Item",
        "z": "16c561d0bd2db4f4",
        "item": "ns=4;s=TestBitTag",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "9a2b10859adf0839"
            ]
        ]
    },
    {
        "id": "c201dfca83113604",
        "type": "comment",
        "z": "16c561d0bd2db4f4",
        "name": "Write Data to PLC",
        "info": "There is a limited number of clients you can use.\nYou can string commands together and push into a single client.",
        "x": 150,
        "y": 700,
        "wires": []
    },
    {
        "id": "5fc5cf3c28ed8110",
        "type": "OpcUa-Client",
        "z": "16c561d0bd2db4f4",
        "endpoint": "a053172554a6aedb",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 440,
        "y": 760,
        "wires": [
            [
                "cbf391f08b4a70a7"
            ]
        ]
    },
    {
        "id": "cbf391f08b4a70a7",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "fa1e40127948deab",
        "type": "ui_switch",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "701c917fb989f805",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "6bca2acab5cf3ecf"
            ]
        ]
    },
    {
        "id": "6bca2acab5cf3ecf",
        "type": "OpcUa-Item",
        "z": "16c561d0bd2db4f4",
        "item": "ns=4;s=TestBitTag",
        "datatype": "Boolean",
        "value": "",
        "name": "",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "5fc5cf3c28ed8110"
            ]
        ]
    },
    {
        "id": "45707b0dc25941b1",
        "type": "ui_text",
        "z": "16c561d0bd2db4f4",
        "group": "701c917fb989f805",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Switch Status",
        "label": "Switch Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "b3578a269a98ebf3",
        "type": "OpcUa-Item",
        "z": "16c561d0bd2db4f4",
        "item": "ns=4;s=TankData",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6883df45a9ecbd49"
            ]
        ]
    },
    {
        "id": "673d50fce5f0ce38",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "Temperature 1",
        "group": "581cf3edde4d02e5",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature 1",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 580,
        "wires": []
    },
    {
        "id": "8bc0b01699c4d412",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "output splitter",
        "func": "var msg1 = {};\nvar msg2 = {};\n\nvar index;\nvar totalOutputs = 2\n\nconst returnArray = new Array(totalOutputs).fill(null);\nmsg1.topic = global.get(\"Topic1\");\nmsg2.topic = global.get(\"Topic2\");\n\nif (msg.topic == msg1.topic){\n    global.set(\"SwitchStatus\", msg.payload)\n    index = 0;\n}\n\nif (msg.topic == msg2.topic){\n    index = 1;\n}\n\nreturnArray[index] = msg;\n\nreturn returnArray;\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "45707b0dc25941b1",
                "9b1c5fad325e14f5"
            ],
            [
                "58b2a935cacd9715",
                "81f1b85473dca332"
            ]
        ]
    },
    {
        "id": "9a2b10859adf0839",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "assign SW1 to topic",
        "func": "var msg1 = {};\nmsg1.topic = msg.topic;\nglobal.set(\"Topic1\", String(msg1.topic));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "ee3a6572681df942"
            ]
        ]
    },
    {
        "id": "6883df45a9ecbd49",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "assign TankData to topic",
        "func": "var msg1 = {};\nmsg1.topic = msg.topic;\nglobal.set(\"Topic2\", String(msg1.topic));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "ee3a6572681df942"
            ]
        ]
    },
    {
        "id": "58b2a935cacd9715",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b1c5fad325e14f5",
        "type": "debug",
        "z": "16c561d0bd2db4f4",
        "name": "debug switch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "4d859a5388493dcf",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "Temperature 2",
        "group": "581cf3edde4d02e5",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature 2",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 620,
        "wires": []
    },
    {
        "id": "0f00d8704e4166e2",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "Temperature 3",
        "group": "581cf3edde4d02e5",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "gage",
        "title": "Temperature 3",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 660,
        "wires": []
    },
    {
        "id": "80b357c10add4706",
        "type": "ui_chart",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "group": "3342ef65ea84e0bc",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#dd2727",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1130,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1f7c50c5d6e7d504",
        "type": "ui_text",
        "z": "16c561d0bd2db4f4",
        "group": "3342ef65ea84e0bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pH:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "81f1b85473dca332",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "TankData Splitter",
        "func": "var t1_msg = {};\nvar t2_msg = {};\nvar t3_msg = {};\nvar pH_msg = {};\nvar l1_msg = {};\nvar l2_msg = {};\nvar l3_msg = {};\n\nvar totalOutputs = 7;\n\nconst returnArray = new Array(totalOutputs).fill(null);\n\nt1_msg.payload = Math.round((msg.payload.temp1) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\nt2_msg.payload = Math.round((msg.payload.temp2) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\nt3_msg.payload = Math.round((msg.payload.temp3) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\npH_msg.payload = Math.round((msg.payload.pH) * 100) / 100;\nglobal.set(\"Temp1\", msg.payload);\n\nl1_msg.payload = msg.payload.isTank1Full;\nl2_msg.payload = msg.payload.isTank2Full;\nl3_msg.payload = msg.payload.isTank3Full;\n\nreturnArray[0] = pH_msg;\nreturnArray[1] = t1_msg;\nreturnArray[2] = t2_msg;\nreturnArray[3] = t3_msg;\nreturnArray[4] = l1_msg;\nreturnArray[5] = l2_msg;\nreturnArray[6] = l3_msg;\n\nreturn returnArray;",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 500,
        "wires": [
            [
                "1f7c50c5d6e7d504",
                "80b357c10add4706"
            ],
            [
                "673d50fce5f0ce38"
            ],
            [
                "4d859a5388493dcf"
            ],
            [
                "0f00d8704e4166e2"
            ],
            [
                "9d878bc63699d184"
            ],
            [
                "c23e91d4c818845a"
            ],
            [
                "9640bcda8ccee4d2"
            ]
        ]
    },
    {
        "id": "de1f6b2b37e837cb",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "group": "7b9307d1947a13f0",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "wave",
        "title": "tank1Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1310,
        "y": 720,
        "wires": []
    },
    {
        "id": "61d9cc63a960f161",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "",
        "group": "7b9307d1947a13f0",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "wave",
        "title": "tank2Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1310,
        "y": 760,
        "wires": []
    },
    {
        "id": "43ea732ccb82d795",
        "type": "ui_gauge",
        "z": "16c561d0bd2db4f4",
        "name": "tank3Level",
        "group": "7b9307d1947a13f0",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "wave",
        "title": "Tank 3 Level",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1310,
        "y": 800,
        "wires": []
    },
    {
        "id": "9d878bc63699d184",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "function 2",
        "func": "var level;\n\nif (msg.payload == true){\n    level = 1;\n}\n\nmsg.payload = level;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 720,
        "wires": [
            [
                "de1f6b2b37e837cb"
            ]
        ]
    },
    {
        "id": "c23e91d4c818845a",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "function 3",
        "func": "var level;\n\nif (msg.payload == true){\n    level = 1;\n}\n\nmsg.payload = level;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 760,
        "wires": [
            [
                "61d9cc63a960f161"
            ]
        ]
    },
    {
        "id": "9640bcda8ccee4d2",
        "type": "function",
        "z": "16c561d0bd2db4f4",
        "name": "function 4",
        "func": "var level;\n\nif (msg.payload == true){\n    level = 1;\n}\n\nmsg.payload = level;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 800,
        "wires": [
            [
                "43ea732ccb82d795"
            ]
        ]
    },
    {
        "id": "aa8f495ffae5e677",
        "type": "ui_template",
        "z": "41ec38ad59c0cf49",
        "group": "7b9307d1947a13f0",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "[{\"id\":\"9efa042c.1ed728\",\"type\":\"tab\",\"label\":\"NVR\",\"disabled\":false,\"info\":\"\"},{\"id\":\"a92f1b2f.277878\",\"type\":\"debug\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"active\":false,\"console\":\"false\",\"complete\":\"true\",\"x\":770,\"y\":160,\"wires\":[]},{\"id\":\"161395bd.44fcda\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":100,\"y\":140,\"wires\":[[\"fbd47d60.0e2dc\"]]},{\"id\":\"59d467aa.79d638\",\"type\":\"exec\",\"z\":\"9efa042c.1ed728\",\"command\":\"avconv\n-i rtsp://user:password@192.168.1.71:554/ch01.264 -frames 1 -qscale 1 -f image2\n\",\"addpay\":true,\"append\":\"\",\"useSpawn\":\"false\",\"timer\":\"\",\"oldrc\":false,\"name\":\"Grab a\nframe\",\"x\":530,\"y\":80,\"wires\":[[\"ccefbf92.43434\",\"5181ecea.300284\",\"2664e0ab.3ccb\"],[],[\"a92f1b2f.277878\",\"37e6ad7b.6e58e2\"]]},{\"id\":\"ccefbf92.43434\",\"type\":\"ui_template\",\"z\":\"9efa042c.1ed728\",\"group\":\"675036dd.603328\",\"name\":\"Static\nimage\",\"order\":2,\"width\":0,\"height\":0,\"format\":\"<div height=\\\"210\\\" style=\\\"height: 210px;\\\">\n    \\n<img src=\\\"/grab.jpg\\\"/ width=\\\"280\\\"><br/>\\n<a href=\\\"/grab.jpg\\\" target=\\\"_blank\\\">Full screen</a>\\n</div>\n\",\"storeOutMessages\":true,\"fwdInMessages\":true,\"templateScope\":\"local\",\"x\":790,\"y\":40,\"wires\":[[]]},{\"id\":\"5181ecea.300284\",\"type\":\"debug\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"active\":false,\"console\":\"false\",\"complete\":\"true\",\"x\":770,\"y\":80,\"wires\":[]},{\"id\":\"efab5927.df2fe8\",\"type\":\"file\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"filename\":\"/home/pi/avconv.out\",\"appendNewline\":true,\"createDir\":false,\"overwriteFile\":\"true\",\"x\":820,\"y\":120,\"wires\":[]},{\"id\":\"37e6ad7b.6e58e2\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Statistics\",\"func\":\"var\nnow = new Date();\\nvar stat = context.get(\\\"stat\\\");\\nif (stat===undefined) {\\n // Initialize the object in case NR\nrestart\\n stat = { \\\"count\\\": 0, \\\"success\\\": 0, \\\"rate\\\": 0.0, \\\"last\\\": now};\\n}\\nif (msg.topic===\\\"reset\\\") {\\n //\nReset message was received: reset statistics\\n stat = { \\\"count\\\": 0, \\\"success\\\": 0, \\\"rate\\\": 0.0, \\\"last\\\": now};\\n}\nelse {\\n // Update statistics\\n stat.count++;\\n if (msg.payload.code===0) {\\n stat.success++;\\n } \\n\nstat.rate=stat.success/stat.count;\\n stat.last=now;\\n}\\n\\n// Create formatted time\\nvar yyyy = now.getFullYear();\\nvar\nmm = now.getMonth() < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\\nvar\n    dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() < 10 ? \\\"0\\\" + now.getHours()\n    : now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes() : now.getMinutes();\\nvar\n    ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\nmsg.formattedtime=dd + \\\".\\\" + mm + \\\".\\\"\n    + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" +\n    ss;\\nmsg.success=stat.success;\\nmsg.rate=Math.floor(stat.rate*100);\\n\\nnode.status({fill:\\\"blue\\\",shape:\\\"ring\\\",text:\\\"Frames:\n    \\\"+msg.success+\\\" | \\\"+msg.rate+\\\"% | Last update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm +\n    \\\":\\\" + ss});\\n\\n\\n// Saving data in the context\\ncontext.set(\\\"stat\\\",stat);\\n\\nreturn\n    msg;\\n\\n\\n\",\"outputs\":1,\"noerr\":0,\"x\":680,\"y\":280,\"wires\":[[\"e8b0a469.8ba128\",\"b06a46c8.57af78\",\"df71ef74.0f8d2\"]]},{\"id\":\"ae82c778.306d48\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Reset\n    stat\",\"topic\":\"reset\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":480,\"y\":280,\"wires\":[[\"37e6ad7b.6e58e2\"]]},{\"id\":\"e8b0a469.8ba128\",\"type\":\"ui_text\",\"z\":\"9efa042c.1ed728\",\"group\":\"e16e06ca.f38438\",\"order\":1,\"width\":0,\"height\":0,\"name\":\"Last\n    time\",\"label\":\"Last\n    grab\",\"format\":\"{{msg.formattedtime}}\",\"layout\":\"row-spread\",\"x\":881.0000839233398,\"y\":200.39999198913574,\"wires\":[]},{\"id\":\"b06a46c8.57af78\",\"type\":\"ui_text\",\"z\":\"9efa042c.1ed728\",\"group\":\"e16e06ca.f38438\",\"order\":2,\"width\":0,\"height\":0,\"name\":\"Frame\n    count\",\"label\":\"Frames\n    grabbed\",\"format\":\"{{msg.success}}\",\"layout\":\"row-spread\",\"x\":890.8999900817871,\"y\":236.1999807357788,\"wires\":[]},{\"id\":\"df71ef74.0f8d2\",\"type\":\"ui_text\",\"z\":\"9efa042c.1ed728\",\"group\":\"e16e06ca.f38438\",\"order\":3,\"width\":0,\"height\":0,\"name\":\"Success\n    rate\",\"label\":\"Success rate\",\"format\":\"{{msg.rate}}\n    %\",\"layout\":\"row-spread\",\"x\":891.8999633789062,\"y\":274.1999740600586,\"wires\":[]},{\"id\":\"92f3cf3b.51ac8\",\"type\":\"ui_button\",\"z\":\"9efa042c.1ed728\",\"name\":\"Refresh\",\"group\":\"675036dd.603328\",\"order\":1,\"width\":0,\"height\":0,\"passthru\":false,\"label\":\"Refresh\n    image\",\"color\":\"\",\"bgcolor\":\"\",\"icon\":\"\",\"payload\":\"\",\"payloadType\":\"str\",\"topic\":\"\",\"x\":84.59999084472656,\"y\":94.13333797454834,\"wires\":[[\"fbd47d60.0e2dc\"]]},{\"id\":\"67d53350.bb09dc\",\"type\":\"debug\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"active\":true,\"console\":\"false\",\"complete\":\"true\",\"x\":778.0000152587891,\"y\":1040.0000228881836,\"wires\":[]},{\"id\":\"848f3283.66a9a\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":128.00001525878906,\"y\":1000.0000228881836,\"wires\":[[\"db6e6672.8e0358\"]]},{\"id\":\"a5aeed17.49a44\",\"type\":\"exec\",\"z\":\"9efa042c.1ed728\",\"command\":\"avconv\n    -i rtsp://user:password@192.168.1.71:554/ch01.264 -r 10 -t 30 -y -vcodec copy -an \",\"\n    addpay\":true,\"append\":\"\",\"useSpawn\":\"false\",\"timer\":\"\",\"oldrc\":false,\"name\":\"Capture\n    video\",\"x\":548.0000152587891,\"y\":960.0000228881836,\"wires\":[[\"a9b89709.b65498\",\"677574cb.bbb1fc\",\"2664e0ab.3ccb\"],[\"8a971c90.ebe9b\"],[\"67d53350.bb09dc\",\"1c4d41e8.c597be\"]]},{\"id\":\"a9b89709.b65498\",\"type\":\"ui_template\",\"z\":\"9efa042c.1ed728\",\"group\":\"cb67921.cf4df7\",\"name\":\"Video\n    link\",\"order\":2,\"width\":0,\"height\":0,\"format\":\"<div height=\\\"70\\\" style=\\\"height: 70px;\\\">\\n<a href=\\\"/video.mp4\\\"\n        target=\\\"_blank\\\">Open video</a>\\n</div>\n    \",\"storeOutMessages\":true,\"fwdInMessages\":true,\"templateScope\":\"local\",\"x\":788.0000152587891,\"y\":920.0000228881836,\"wires\":[[]]},{\"id\":\"677574cb.bbb1fc\",\"type\":\"debug\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"active\":true,\"console\":\"false\",\"complete\":\"true\",\"x\":778.0000152587891,\"y\":960.0000228881836,\"wires\":[]},{\"id\":\"8a971c90.ebe9b\",\"type\":\"file\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"filename\":\"/home/pi/avconv.out\",\"appendNewline\":true,\"createDir\":false,\"overwriteFile\":\"true\",\"x\":828.0000152587891,\"y\":1000.0000228881836,\"wires\":[]},{\"id\":\"1c4d41e8.c597be\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Statistics\",\"func\":\"var\n    now = new Date();\\nvar stat = context.get(\\\"stat\\\");\\nif (stat===undefined) {\\n // Initialize the object in case NR\n    restart\\n stat = { \\\"count\\\": 0, \\\"success\\\": 0, \\\"rate\\\": 0.0, \\\"last\\\": now};\\n}\\nif (msg.topic===\\\"reset\\\") {\\n\n    // Reset message was received: reset statistics\\n stat = { \\\"count\\\": 0, \\\"success\\\": 0, \\\"rate\\\": 0.0, \\\"last\\\":\n    now};\\n} else {\\n // Update statistics\\n stat.count++;\\n if (msg.payload.code===0) {\\n stat.success++;\\n } \\n\n    stat.rate=stat.success/stat.count;\\n stat.last=now;\\n}\\n\\n// Create formatted time\\nvar yyyy =\n    now.getFullYear();\\nvar mm = now.getMonth() < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth()\n        is zero-based\\nvar dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() < 10 ?\n        \\\"0\\\" + now.getHours() : now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes() :\n        now.getMinutes();\\nvar ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() :\n        now.getSeconds();\\n\\nmsg.formattedtime=dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" +\n        ss;\\nmsg.success=stat.success;\\nmsg.rate=Math.floor(stat.rate*100);\\n\\nnode.status({fill:\\\"blue\\\",shape:\\\"ring\\\",text:\\\"Videos:\n        \\\"+msg.success+\\\" | \\\"+msg.rate+\\\"% | Last update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm\n        + \\\":\\\" + ss});\\n\\n\\n// Saving data in the context\\ncontext.set(\\\"stat\\\",stat);\\n\\nreturn\n        msg;\\n\\n\\n\",\"outputs\":1,\"noerr\":0,\"x\":668.0000152587891,\"y\":1160.0000228881836,\"wires\":[[\"c7d29921.7b3a88\",\"dec88d14.74771\",\"9131b705.d7da98\"]]},{\"id\":\"4d857e74.bf6e6\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Reset\n        stat\",\"topic\":\"reset\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":468.00001525878906,\"y\":1160.0000228881836,\"wires\":[[\"1c4d41e8.c597be\"]]},{\"id\":\"c7d29921.7b3a88\",\"type\":\"ui_text\",\"z\":\"9efa042c.1ed728\",\"group\":\"984422e9.d6d96\",\"order\":1,\"width\":0,\"height\":0,\"name\":\"Video\n        Last time\",\"label\":\"Last\n        grab\",\"format\":\"{{msg.formattedtime}}\",\"layout\":\"row-spread\",\"x\":888.0000152587891,\"y\":1080.0000228881836,\"wires\":[]},{\"id\":\"dec88d14.74771\",\"type\":\"ui_text\",\"z\":\"9efa042c.1ed728\",\"group\":\"984422e9.d6d96\",\"order\":2,\"width\":0,\"height\":0,\"name\":\"Video\n        count\",\"label\":\"Video\n        files\",\"format\":\"{{msg.success}}\",\"layout\":\"row-spread\",\"x\":878.0000152587891,\"y\":1120.0000228881836,\"wires\":[]},{\"id\":\"9131b705.d7da98\",\"type\":\"ui_text\",\"z\":\"9efa042c.1ed728\",\"group\":\"984422e9.d6d96\",\"order\":3,\"width\":0,\"height\":0,\"name\":\"Video\n        Success rate\",\"label\":\"Success rate\",\"format\":\"{{msg.rate}}\n        %\",\"layout\":\"row-spread\",\"x\":898.0000152587891,\"y\":1160.0000228881836,\"wires\":[]},{\"id\":\"60807950.8a1308\",\"type\":\"ui_button\",\"z\":\"9efa042c.1ed728\",\"name\":\"Capture\",\"group\":\"cb67921.cf4df7\",\"order\":1,\"width\":0,\"height\":0,\"passthru\":false,\"label\":\"Capture\n        video\",\"color\":\"\",\"bgcolor\":\"\",\"icon\":\"\",\"payload\":\"\",\"payloadType\":\"str\",\"topic\":\"\",\"x\":112.60000610351562,\"y\":954.1333608627319,\"wires\":[[\"db6e6672.8e0358\"]]},{\"id\":\"71c22335.23098c\",\"type\":\"comment\",\"z\":\"9efa042c.1ed728\",\"name\":\"Frame\n        grabber\",\"info\":\"This section of the flow is responsible for \\ngrabbing a single out of the RTSP feed of the\n        IP\\nCamera. It uses avconv to do that which is part\\nof the libav-tools for raspberry pi.\\n\\nThe trigger can be\n        an inject, or a UI button.\\nThe statistic node keeps a track of the number of\\ngrabbed frames and the success\n        rate (when the\\nvideo conversion/grabbing was successful). The \\nStatistic node also has a reset input which can\n        \\nbe used to periodically reset the stats (e.g.\\ndaily, weekly).\\n\\nI directed the second output of the Exec\n        node to\\na file, as the output of the avconv is usually \\nquite long and if there are errors you don't\\nsee the\n        entire output in the debug window, so in\\nthat case just open to output and see what the\n        issue\\nis.\",\"x\":125.625,\"y\":36.5000057220459,\"wires\":[]},{\"id\":\"b3106a10.da69e8\",\"type\":\"comment\",\"z\":\"9efa042c.1ed728\",\"name\":\"Video\n        capture\",\"info\":\"This section of the flow captures a fixed length \\nvideo of the RTSP feed.\\nIt works very\n        similar to the frame capture above,\\nthe only main difference is the parameters in the\\ncommmand\n        line.\",\"x\":118.00001525878906,\"y\":900.0000228881836,\"wires\":[]},{\"id\":\"fbd47d60.0e2dc\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set\n        filename\",\"rules\":[{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"/home/pi/node-red-static/grab.jpg\",\"tot\":\"str\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":290,\"y\":80,\"wires\":[[\"59d467aa.79d638\"]]},{\"id\":\"db6e6672.8e0358\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set\n        filename\",\"rules\":[{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"/home/pi/node-red-static/video.mp4\",\"tot\":\"str\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":298.00001525878906,\"y\":960.0000228881836,\"wires\":[[\"a5aeed17.49a44\"]]},{\"id\":\"f44069e.c6a9998\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Frame\n        grab\",\"func\":\"var now=new Date();\\n// Create formatted time\\nvar yyyy=now.getFullYear();\\nvar mm=now.getMonth()\n        < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\\nvar dd=now.getDate() <\n        10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() < 10 ? \\\"0\\\" + now.getHours() :\n        now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes() : now.getMinutes();\\nvar\n        ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\n// Last update: \\\"+dd + \\\".\\\" + mm +\n        \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file path with / at the end\\nvar\n        path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n        filename=\\\"frame_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".jpg\\\"; // file name\\nmsg.payload=path + filename; // pass the\n        full path to payload for the exec node to add to the end of the command\\nmsg.file=filename; // To be used later\n        to store the information in the DB\\nmsg.path=path; // Same as above\\nmsg.wwwpath=\\\"/\\\"; // Same as\n        above\\nmsg.topic=\\\"store\\\"; // Flag to store this image in the DB\\nmsg.type=\\\"timelapse\\\"; // Image type e.g.\n        Front camera, etc.\\nmsg.epoch=now.getTime(); // Current timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" +\n        yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss; // Formatted timestamp to be used later\\n\\nreturn\n        msg;\",\"outputs\":1,\"noerr\":0,\"x\":310,\"y\":380,\"wires\":[[\"59d467aa.79d638\"]]},{\"id\":\"6bd4711d.97ae\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Grab\n        a\n        frame\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":130,\"y\":380,\"wires\":[[\"f44069e.c6a9998\"]]},{\"id\":\"6626a216.c8071c\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Save\n        to DB\",\"func\":\"// only run this if the topic contains 'store' , so the manual frame grabs do not get\\n// stored\n        in the database\\nif (msg.topic.indexOf(\\\"store\\\") !==-1) {\\n\\n msg.topic=\\\"INSERT INTO nvr\n        (type,path,wwwpath,filename,epoch) \\\" +\\n \\\"VALUES\n        ('\\\"+msg.type+\\\"','\\\"+msg.path+\\\"','\\\"+msg.wwwpath+\\\"','\\\"+msg.file+\\\"',\\\"+msg.epoch+\\\");\\\";\\n \\n\n        node.status({fill:\\\"blue\\\",shape:\\\"ring\\\",text:\\\"Last update: \\\"+msg.formatteddate});\\n \\n return\n        msg;\\n}\",\"outputs\":1,\"noerr\":0,\"x\":990,\"y\":340,\"wires\":[[\"1862d096.0aa7ef\"]]},{\"id\":\"1862d096.0aa7ef\",\"type\":\"sqlite\",\"z\":\"9efa042c.1ed728\",\"mydb\":\"1c25415d.b8427f\",\"name\":\"Node\n        Red\n        DB\",\"x\":1180,\"y\":340,\"wires\":[[]]},{\"id\":\"3fc38f78.17dab\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Video\n        capture\",\"func\":\"var now=new Date();\\n// Create formatted time\\nvar yyyy=now.getFullYear();\\nvar\n        mm=now.getMonth() < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\\nvar\n        dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() < 10 ? \\\"0\\\" +\n        now.getHours() : now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes() :\n        now.getMinutes();\\nvar ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\n// Last\n        update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file path with / at\n        the end\\nvar path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n        filename=\\\"video_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".mp4\\\"; // file name\\nmsg.payload=path + filename; // pass the\n        full path to payload for the exec node to add to the end of the command\\nmsg.file=filename; // To be used later\n        to store the information in the DB\\nmsg.path=path; // Same as above\\nmsg.wwwpath=\\\"/\\\"; // Same as\n        above\\nmsg.topic=\\\"store\\\"; // Flag to store this image in the DB\\nmsg.type=\\\"videotest\\\"; // Image type e.g.\n        Front camera, etc.\\nmsg.epoch=now.getTime(); // Current timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" +\n        yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss; // Formatted timestamp to be used later\\n\\nreturn\n        msg;\",\"outputs\":1,\"noerr\":0,\"x\":328.00001525878906,\"y\":1080.0000228881836,\"wires\":[[\"a5aeed17.49a44\"]]},{\"id\":\"f752e943.e325d8\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":128.00001525878906,\"y\":1080.0000228881836,\"wires\":[[\"3fc38f78.17dab\"]]},{\"id\":\"7f436228.923ccc\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Email\n        image\",\"func\":\"var now=new Date();\\n// Create formatted time\\nvar yyyy=now.getFullYear();\\nvar mm=now.getMonth()\n        < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\\nvar dd=now.getDate() <\n        10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() < 10 ? \\\"0\\\" + now.getHours() :\n        now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes() : now.getMinutes();\\nvar\n        ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\n// Last update: \\\"+dd + \\\".\\\" + mm +\n        \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file path with / at the end\\nvar\n        path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n        filename=\\\"frame_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".jpg\\\"; // file name\\nmsg.payload=path + filename; // pass the\n        full path to payload for the exec node to add to the end of the command\\nmsg.file=filename; // To be used later\n        to store the information in the DB\\nmsg.path=path; // Same as above\\nmsg.wwwpath=\\\"/\\\"; // Same as\n        above\\nmsg.topic=\\\"store|email\\\"; // Flag to store this image in the DB\\nmsg.type=\\\"front\\\"; // Image type e.g.\n        Front camera, etc.\\nmsg.epoch=now.getTime(); // Current timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" +\n        yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss; // Formatted timestamp to be used later\\n\\nreturn\n        msg;\",\"outputs\":1,\"noerr\":0,\"x\":310,\"y\":420,\"wires\":[[\"59d467aa.79d638\"]]},{\"id\":\"3802963b.c35a2a\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Email\n        a\n        pic\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":120,\"y\":420,\"wires\":[[\"7f436228.923ccc\"]]},{\"id\":\"2664e0ab.3ccb\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Dummy\",\"func\":\"\\nreturn\n        msg;\",\"outputs\":1,\"noerr\":0,\"x\":780,\"y\":380,\"wires\":[[\"6626a216.c8071c\",\"cb390310.7a97e\",\"83fd6a62.ba5898\",\"606e90cf.e660c\",\"e85ffa62.1a8b98\"]]},{\"id\":\"cb390310.7a97e\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Compose\n        email\",\"func\":\"// only run this if the topic contains 'email' , so other types do not get emailed\\nif\n        (msg.topic.indexOf(\\\"email\\\") !==-1) {\\n\\n msg.filename=msg.path + msg.file;\\n \\n\n        node.status({fill:\\\"blue\\\",shape:\\\"ring\\\",text:\\\"Last update: \\\"+msg.formatteddate});\\n \\n return\n        msg;\\n}\",\"outputs\":1,\"noerr\":0,\"x\":1000,\"y\":400,\"wires\":[[\"7159813e.2bdb4\"]]},{\"id\":\"50e67922.ab82c8\",\"type\":\"e-mail\",\"z\":\"9efa042c.1ed728\",\"server\":\"smtp.gmail.com\",\"port\":\"465\",\"secure\":true,\"name\":\"youremail@gmail.com\",\"dname\":\"Email\n        notification\",\"x\":1390,\"y\":400,\"wires\":[]},{\"id\":\"7159813e.2bdb4\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set\n        up email\",\"rules\":[{\"t\":\"set\",\"p\":\"attachments\",\"pt\":\"msg\",\"to\":\"[{\\t \\\"filename\\\": msg.file, \\t \\\"path\\\":\n        msg.filename,\\t \\\"content\\\": $$.payload\\t}]\",\"tot\":\"jsonata\"},{\"t\":\"set\",\"p\":\"topic\",\"pt\":\"msg\",\"to\":\"Front door\n        motion\",\"tot\":\"str\"},{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"Dear,<br>\n        <br>Motion has been detected at the front door<br>In attachment you can find a snapshot.<br><br>Kind regards,<br>Your Node-Red flow\",\"tot\":\"str\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":1190,\"y\":400,\"wires\":[[\"50e67922.ab82c8\"]]},{\"id\":\"db1675ae.6608a8\",\"type\":\"comment\",\"z\":\"9efa042c.1ed728\",\"name\":\"Image / Video Log\",\"info\":\"\",\"x\":138.00000762939453,\"y\":1664.0000324249268,\"wires\":[]},{\"id\":\"6eed45ad.3a9f4c\",\"type\":\"template\",\"z\":\"9efa042c.1ed728\",\"name\":\"Formatting\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"\n        <table>\\n <tr>\n                <th>ID</th>\n                <th>Type</th>\n                <th>Timestamp</th>\n                <th>File</th>\n            </tr>\\n {{#payload}}\\n <tr class=\\\"\\\">\\n <td>{{id}}</td>\\n <td>{{type}}</td>\\n <td>{{timestamp}}</td>\\n <td>\n                    <a href=\\\"{{wwwpath}}{{filename}}\\\" target=\\\"_blank\\\">{{filename}}</a></td>\\n </tr>\\n {{/payload}}\\n\n        </table>\n        \\n\",\"x\":737.0000076293945,\"y\":2039.0000324249268,\"wires\":[[\"e60dddf1.8029c\"]]},{\"id\":\"46d1c098.824e5\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"SQL\",\"func\":\"context.set(msg.topic,msg.payload);\\n\\nvar\n        d = new Date();\\nvar epoch = d.getTime();\\nvar fromdate = 0;\\nvar enddate = 0;\\n\\nmsg.topic = \\\"SELECT * FROM\n        nvr WHERE id>0 \\\";\\n\\nif (context.get(\\\"type\\\")!==undefined) {\\n if (context.get(\\\"type\\\")!==\\\"*\\\") {\\n\n        msg.topic = msg.topic + \\\" AND type = '\\\"+context.get(\\\"type\\\")+\\\"'\\\";\\n }\\n}\\n\\nif\n        (context.get(\\\"time\\\")!==undefined) {\\n switch (context.get(\\\"time\\\")) {\\n case 0:\\n fromdate = epoch -\n        1000*60*60*24;\\n msg.topic = msg.topic + \\\" AND epoch > \\\"+fromdate;\\n break;\\n case 1:\\n fromdate = epoch -\n        1000*60*60*24*7;\\n msg.topic = msg.topic + \\\" AND epoch > \\\"+fromdate;\\n break;\\n case 2:\\n fromdate = epoch -\n        1000*60*60*24*30;\\n msg.topic = msg.topic + \\\" AND epoch > \\\"+fromdate;\\n break;\\n }\\n}\\n\\n// msg.topic =\n        msg.topic.substring(0,msg.topic.length-2);\\nmsg.topic = msg.topic+ \\\" ORDER BY id\\\";\\nreturn\n        msg;\",\"outputs\":1,\"noerr\":0,\"x\":324.00000762939453,\"y\":2038.0000324249268,\"wires\":[[\"3f0bae61.7c1962\"]]},{\"id\":\"a67b5ea9.1f61\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":157.00000762939453,\"y\":2038.0000324249268,\"wires\":[[\"46d1c098.824e5\"]]},{\"id\":\"bf2db74c.7ebda8\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":true,\"x\":278.00000762939453,\"y\":1904.0000324249268,\"wires\":[[\"e022fd92.f69d2\"]]},{\"id\":\"e022fd92.f69d2\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Initial\n        value\",\"rules\":[{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"0\",\"tot\":\"num\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":458.00000762939453,\"y\":1904.0000324249268,\"wires\":[[\"c997c751.b0e9e8\"]]},{\"id\":\"82ca9c8d.fa89b\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Process\n        systems\",\"func\":\"var output = [];\\noutput.push({\\\"All systems\\\":\\\"*\\\"});\\nfor (var i = 0; i <\n            msg.payload.length; i++) {\\n obj={};\\n obj [msg.payload[i].type]=msg.payload[i].type;\\n\n            output.push(obj);\\n}\\nmsg.options=output;\\nreturn\n            msg;\",\"outputs\":1,\"noerr\":0,\"x\":478.00000762939453,\"y\":1784.0000324249268,\"wires\":[[\"968f6573.a694c8\"]]},{\"id\":\"b0228a6d.84f3e8\",\"type\":\"ui_button\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"group\":\"a06d1d6b.bdef2\",\"order\":1,\"width\":\"3\",\"height\":\"1\",\"passthru\":false,\"label\":\"Refresh\",\"color\":\"\",\"bgcolor\":\"\",\"icon\":\"\",\"payload\":\"\",\"payloadType\":\"str\",\"topic\":\"refresh\",\"x\":668.0000076293945,\"y\":1844.0000324249268,\"wires\":[[\"46d1c098.824e5\"]]},{\"id\":\"c997c751.b0e9e8\",\"type\":\"ui_dropdown\",\"z\":\"9efa042c.1ed728\",\"name\":\"Time\n            filter\",\"label\":\"\",\"place\":\"\",\"group\":\"a06d1d6b.bdef2\",\"order\":3,\"width\":\"4\",\"height\":\"1\",\"passthru\":true,\"options\":[{\"label\":\"Last\n            24 hrs\",\"value\":0,\"type\":\"num\"},{\"label\":\"Last 7 days\",\"value\":1,\"type\":\"num\"},{\"label\":\"Last 30\n            days\",\"value\":2,\"type\":\"num\"},{\"label\":\"All\",\"value\":3,\"type\":\"num\"}],\"payload\":\"\",\"topic\":\"time\",\"x\":668.0000076293945,\"y\":1904.0000324249268,\"wires\":[[\"46d1c098.824e5\"]]},{\"id\":\"968f6573.a694c8\",\"type\":\"ui_dropdown\",\"z\":\"9efa042c.1ed728\",\"name\":\"Type\",\"label\":\"\",\"place\":\"\",\"group\":\"a06d1d6b.bdef2\",\"order\":5,\"width\":\"5\",\"height\":\"1\",\"passthru\":true,\"options\":[{\"label\":\"All\",\"value\":\"*\",\"type\":\"str\"},{\"label\":\"timelapse\",\"value\":\"timelapse\",\"type\":\"str\"},{\"label\":\"front\",\"value\":\"front\",\"type\":\"str\"},{\"label\":\"videotest\",\"value\":\"videotest\",\"type\":\"str\"}],\"payload\":\"\",\"topic\":\"type\",\"x\":678.0000076293945,\"y\":1784.0000324249268,\"wires\":[[\"46d1c098.824e5\"]]},{\"id\":\"e60dddf1.8029c\",\"type\":\"ui_template\",\"z\":\"9efa042c.1ed728\",\"group\":\"a06d1d6b.bdef2\",\"name\":\"Log\n            output\",\"order\":6,\"width\":0,\"height\":0,\"format\":\"<div ng-bind-html=\\\"msg.payload\\\" height=\\\"600\\\"\n            style=\\\"height: 600px;\\\"><br/></div>\n            \",\"storeOutMessages\":true,\"fwdInMessages\":true,\"templateScope\":\"local\",\"x\":958.0000076293945,\"y\":2039.0000324249268,\"wires\":[[]]},{\"id\":\"3f0bae61.7c1962\",\"type\":\"sqlite\",\"z\":\"9efa042c.1ed728\",\"mydb\":\"1c25415d.b8427f\",\"name\":\"Node\n            Red\n            DB\",\"x\":532.0000076293945,\"y\":2038.0000324249268,\"wires\":[[\"6eed45ad.3a9f4c\"]]},{\"id\":\"68a84ff2.caa05\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Email\n            3\n            pics\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":130,\"y\":460,\"wires\":[[\"ce7424a5.0105c8\"]]},{\"id\":\"ce7424a5.0105c8\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"1st\n            img\",\"func\":\"var now = new Date();\\n// Create formatted time\\nvar yyyy = now.getFullYear();\\nvar mm =\n            now.getMonth() < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\\nvar\n                dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() < 10 ? \\\"0\\\" +\n                now.getHours() : now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes() :\n                now.getMinutes();\\nvar ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\n//\n                Last update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file\n                path with / at the end\\nvar path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n                filename=\\\"frame_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".jpg\\\"; // file name\\nmsg.payload=path + filename; //\n                pass the full path to payload for the exec node to add to the end of the command\\nmsg.file=filename; //\n                To be used later to store the information in the DB\\nmsg.path=path; // Same as above\\nmsg.wwwpath=\\\"/\\\";\n                // Same as above\\nmsg.topic=\\\"3mail/1|delete\\\"; // Flag to store this image in the\n                DB\\nmsg.type=\\\"temp\\\"; // Image type e.g. Front camera, etc.\\nmsg.epoch=now.getTime(); // Current\n                timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss; //\n                Formatted timestamp to be used later\\n\\nreturn\n                msg;\",\"outputs\":1,\"noerr\":0,\"x\":300,\"y\":460,\"wires\":[[\"9b2e9667.e1a578\",\"59d467aa.79d638\"]]},{\"id\":\"94e6544f.7a4998\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"2st\n                img\",\"func\":\"var now=new Date();\\n// Create formatted time\\nvar yyyy=now.getFullYear();\\nvar\n                mm=now.getMonth() < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is\n                zero-based\\nvar dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() <\n                10 ? \\\"0\\\" + now.getHours() : now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes()\n                : now.getMinutes();\\nvar ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\n//\n                Last update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file\n                path with / at the end\\nvar path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n                filename=\\\"frame_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".jpg\\\"; // file name\\nmsg.payload=path + filename; //\n                pass the full path to payload for the exec node to add to the end of the command\\nmsg.file=filename; //\n                To be used later to store the information in the DB\\nmsg.path=path; // Same as above\\nmsg.wwwpath=\\\"/\\\";\n                // Same as above\\nmsg.topic=\\\"3mail/2|delete\\\"; // Flag to store this image in the\n                DB\\nmsg.type=\\\"temp\\\"; // Image type e.g. Front camera, etc.\\nmsg.epoch=now.getTime(); // Current\n                timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss; //\n                Formatted timestamp to be used later\\n\\nreturn\n                msg;\",\"outputs\":1,\"noerr\":0,\"x\":300,\"y\":520,\"wires\":[[\"910a4663.888b28\",\"59d467aa.79d638\"]]},{\"id\":\"8082b36d.9fca8\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"3rd\n                img\",\"func\":\"var now=new Date();\\n// Create formatted time\\nvar yyyy=now.getFullYear();\\nvar\n                mm=now.getMonth() < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is\n                zero-based\\nvar dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() <\n                10 ? \\\"0\\\" + now.getHours() : now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes()\n                : now.getMinutes();\\nvar ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\n//\n                Last update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file\n                path with / at the end\\nvar path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n                filename=\\\"frame_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".jpg\\\"; // file name\\nmsg.payload=path + filename; //\n                pass the full path to payload for the exec node to add to the end of the command\\nmsg.file=filename; //\n                To be used later to store the information in the DB\\nmsg.path=path; // Same as above\\nmsg.wwwpath=\\\"/\\\";\n                // Same as above\\nmsg.topic=\\\"3mail/3|delete\\\"; // Flag to store this image in the\n                DB\\nmsg.type=\\\"temp\\\"; // Image type e.g. Front camera, etc.\\nmsg.epoch=now.getTime(); // Current\n                timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss; //\n                Formatted timestamp to be used later\\n\\nreturn\n                msg;\",\"outputs\":1,\"noerr\":0,\"x\":300,\"y\":580,\"wires\":[[\"59d467aa.79d638\"]]},{\"id\":\"9b2e9667.e1a578\",\"type\":\"delay\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"pauseType\":\"delay\",\"timeout\":\"15\",\"timeoutUnits\":\"seconds\",\"rate\":\"1\",\"nbRateUnits\":\"1\",\"rateUnits\":\"second\",\"randomFirst\":\"1\",\"randomLast\":\"5\",\"randomUnits\":\"seconds\",\"drop\":false,\"x\":140,\"y\":520,\"wires\":[[\"94e6544f.7a4998\"]]},{\"id\":\"910a4663.888b28\",\"type\":\"delay\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"pauseType\":\"delay\",\"timeout\":\"15\",\"timeoutUnits\":\"seconds\",\"rate\":\"1\",\"nbRateUnits\":\"1\",\"rateUnits\":\"second\",\"randomFirst\":\"1\",\"randomLast\":\"5\",\"randomUnits\":\"seconds\",\"drop\":false,\"x\":140,\"y\":580,\"wires\":[[\"8082b36d.9fca8\"]]},{\"id\":\"83fd6a62.ba5898\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Compose\n                email 3\",\"func\":\"// only run this if the topic contains 'email' , so other types do not get emailed\\nif\n                (msg.topic.indexOf(\\\"3mail\\\") !==-1) {\\n\\n if (msg.topic.indexOf(\\\"/1\\\") !==-1) {\\n\n                context.set(\\\"file1\\\", msg.path + msg.file);\\n }\\n if (msg.topic.indexOf(\\\"/2\\\") !==-1) {\\n\n                context.set(\\\"file2\\\", msg.path + msg.file);\\n }\\n if (msg.topic.indexOf(\\\"/3\\\") !==-1) {\\n\n                msg.file3=msg.path + msg.file;\\n msg.file1=context.get(\\\"file1\\\");\\n msg.file2=context.get(\\\"file2\\\");\\n\n                msg.payload=msg.file1 + \\\" \\\" + msg.file2 + \\\" \\\" + msg.file3;\\n\n                node.status({fill:\\\"blue\\\",shape:\\\"ring\\\",text:\\\"Last update: \\\"+msg.formatteddate});\\n return msg;\\n\n                }\\n\n                \\n}\",\"outputs\":1,\"noerr\":0,\"x\":1010,\"y\":460,\"wires\":[[\"ac788639.9a1f38\"]]},{\"id\":\"ac788639.9a1f38\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set\n                up email\",\"rules\":[{\"t\":\"set\",\"p\":\"attachments\",\"pt\":\"msg\",\"to\":\"[{\\t \\\"filename\\\": \\\"Image1.jpg\\\", \\t\n                \\\"path\\\": msg.file1,\\t \\\"content\\\": $$.payload\\t},\\t{\\t \\\"filename\\\": \\\"Image2.jpg\\\", \\t \\\"path\\\":\n                msg.file2,\\t \\\"content\\\": $$.payload\\t},\\t{\\t \\\"filename\\\": \\\"Image3.jpg\\\", \\t \\\"path\\\": msg.file3,\\t\n                \\\"content\\\": $$.payload\\t}]\",\"tot\":\"jsonata\"},{\"t\":\"set\",\"p\":\"topic\",\"pt\":\"msg\",\"to\":\"Front door\n                motion\",\"tot\":\"str\"},{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"Dear,<br>\n                <br>Motion has been detected at the front door<br>In attachment you can find a 3 snapshots.<br><br>Kind regards,<br>Your Node-Red flow\",\"tot\":\"str\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":1190,\"y\":460,\"wires\":[[\"50e67922.ab82c8\"]]},{\"id\":\"6e97a4dc.7c8a0c\",\"type\":\"delay\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"pauseType\":\"delay\",\"timeout\":\"15\",\"timeoutUnits\":\"seconds\",\"rate\":\"1\",\"nbRateUnits\":\"1\",\"rateUnits\":\"second\",\"randomFirst\":\"1\",\"randomLast\":\"5\",\"randomUnits\":\"seconds\",\"drop\":false,\"x\":1200,\"y\":520,\"wires\":[[\"d8a70733.d24de8\"]]},{\"id\":\"d8a70733.d24de8\",\"type\":\"exec\",\"z\":\"9efa042c.1ed728\",\"command\":\"sudo rm \",\"addpay\":true,\"append\":\"\",\"useSpawn\":\"false\",\"timer\":\"\",\"oldrc\":false,\"name\":\"Delete images\",\"x\":1380,\"y\":520,\"wires\":[[],[],[]]},{\"id\":\"1d2feed2.02ee51\",\"type\":\"sqlite\",\"z\":\"9efa042c.1ed728\",\"mydb\":\"1c25415d.b8427f\",\"name\":\"Node Red DB\",\"x\":508.00000762939453,\"y\":1724.0000324249268,\"wires\":[[\"82ca9c8d.fa89b\"]]},{\"id\":\"4cdfebb3.4cdd34\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"00 3 * * *\",\"once\":false,\"x\":138.00000762939453,\"y\":1724.0000324249268,\"wires\":[[\"b4336ef9.06d2e\"]]},{\"id\":\"b4336ef9.06d2e\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set SQL\",\"rules\":[{\"t\":\"set\",\"p\":\"topic\",\"pt\":\"msg\",\"to\":\"SELECT DISTINCT type from nvr\",\"tot\":\"str\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":308.00000762939453,\"y\":1724.0000324249268,\"wires\":[[\"1d2feed2.02ee51\"]]},{\"id\":\"606e90cf.e660c\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Delete pictures\",\"func\":\"// only run this if the topic contains 'email', so other types do not get emailed\\nvar send = false;\\nif (msg.topic.indexOf(\\\"delete\\\") !== -1) {\\n\\n    msg.payload = msg.path + msg.file;\\n    send = true;\\n    if (msg.topic.indexOf(\\\"/1\\\") !== -1) {\\n        context.set(\\\"file1\\\", msg.path + msg.file);\\n        send = false;\\n    }\\n    if (msg.topic.indexOf(\\\"/2\\\") !== -1) {\\n        context.set(\\\"file2\\\", msg.path + msg.file);\\n        send = false;\\n    }\\n    if (msg.topic.indexOf(\\\"/3\\\") !== -1) {\\n        msg.file3 = msg.path + msg.file;\\n        msg.file1 = context.get(\\\"file1\\\");\\n        msg.file2 = context.get(\\\"file2\\\");\\n        msg.payload = msg.file1 + \\\" \\\" + msg.file2 + \\\" \\\" + msg.file3;\\n        send = true;\\n    } \\n        \\n    if (send) {\\n        node.status({fill:\\\"blue\\\",shape:\\\"ring\\\",text:\\\"Last update: \\\"+msg.formatteddate});\\n        return msg;\\n    }\\n\\n    \\n}\",\"outputs\":1,\"noerr\":0,\"x\":1000,\"y\":520,\"wires\":[[\"6e97a4dc.7c8a0c\"]]},{\"id\":\"e85ffa62.1a8b98\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Tweet image\",\"func\":\"// only run this if the topic contains 'email', so other types do not get emailed\\nif (msg.topic.indexOf(\\\"tweet\\\") !== -1) {\\n\\n    msg.filename = msg.path + msg.file;\\n    \\n    node.status({fill:\\\"blue\\\",shape:\\\"ring\\\",text:\\\"Last update: \\\"+msg.formatteddate});\\n    \\n    return msg;\\n}\",\"outputs\":1,\"noerr\":0,\"x\":990,\"y\":580,\"wires\":[[\"3606c596.2f6c8a\"]]},{\"id\":\"53ed43f.f6b91bc\",\"type\":\"twitter out\",\"z\":\"9efa042c.1ed728\",\"twitter\":\"\",\"name\":\"Tweet\",\"x\":1510,\"y\":580,\"wires\":[]},{\"id\":\"fe5e05f6.dc5d88\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set up tweet\",\"rules\":[{\"t\":\"set\",\"p\":\"media\",\"pt\":\"msg\",\"to\":\"payload\",\"tot\":\"msg\"},{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"Image from the front door\",\"tot\":\"str\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":1350,\"y\":580,\"wires\":[[\"53ed43f.f6b91bc\",\"52573496.bc77ac\"]]},{\"id\":\"3606c596.2f6c8a\",\"type\":\"file in\",\"z\":\"9efa042c.1ed728\",\"name\":\"Read image\",\"filename\":\"\",\"format\":\"utf8\",\"chunk\":false,\"sendError\":false,\"x\":1170,\"y\":580,\"wires\":[[\"fe5e05f6.dc5d88\",\"afd0c8a3.9d63b8\"]]},{\"id\":\"3fe6a4d4.b4df1c\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Tweet a frame\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":130,\"y\":620,\"wires\":[[\"c51cf57f.0a85b8\"]]},{\"id\":\"c51cf57f.0a85b8\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Frame grab\",\"func\":\"var now = new Date();\\n// Create formatted time\\nvar yyyy = now.getFullYear();\\nvar mm = now.getMonth()\n                < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\\nvar\n                    dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar hh=now.getHours() < 10 ? \\\"0\\\" +\n                    now.getHours() : now.getHours();\\nvar mmm=now.getMinutes() < 10 ? \\\"0\\\" + now.getMinutes() :\n                    now.getMinutes();\\nvar ss=now.getSeconds() < 10 ? \\\"0\\\" + now.getSeconds() : now.getSeconds();\\n\\n//\n                    Last update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file\n                    path with / at the end\\nvar path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n                    filename=\\\"frame_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".jpg\\\"; // file name\\nmsg.payload=path + filename;\n                    // pass the full path to payload for the exec node to add to the end of the\n                    command\\nmsg.file=filename; // To be used later to store the information in the DB\\nmsg.path=path;\n                    // Same as above\\nmsg.wwwpath=\\\"/\\\"; // Same as above\\nmsg.topic=\\\"tweet|delete\\\"; // Flag to store\n                    this image in the DB\\nmsg.type=\\\"timelapse\\\"; // Image type e.g. Front camera,\n                    etc.\\nmsg.epoch=now.getTime(); // Current timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" +\n                    yyyy + \\\" \\\" + hh + \\\":\\\" + mmm + \\\":\\\" + ss; // Formatted timestamp to be used later\\n\\nreturn\n                    msg;\",\"outputs\":1,\"noerr\":0,\"x\":310,\"y\":620,\"wires\":[[\"59d467aa.79d638\"]]},{\"id\":\"48dac303.25c24c\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Grab\n                    a\n                    frame\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":810,\"y\":640,\"wires\":[[\"e27eca44.184fa8\"]]},{\"id\":\"e27eca44.184fa8\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set\n                    filename\",\"rules\":[{\"t\":\"set\",\"p\":\"filename\",\"pt\":\"msg\",\"to\":\"/home/pi/node-red-static/grab.jpg\",\"tot\":\"str\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":1010,\"y\":640,\"wires\":[[\"3606c596.2f6c8a\"]]},{\"id\":\"afd0c8a3.9d63b8\",\"type\":\"debug\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"active\":true,\"console\":\"false\",\"complete\":\"true\",\"x\":1365.8571515764509,\"y\":650.5714198521205,\"wires\":[]},{\"id\":\"52573496.bc77ac\",\"type\":\"debug\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"active\":true,\"console\":\"false\",\"complete\":\"true\",\"x\":1550,\"y\":640,\"wires\":[]},{\"id\":\"866e0069.da033\",\"type\":\"comment\",\"z\":\"9efa042c.1ed728\",\"name\":\"Delete\n                    old\n                    pictures\",\"info\":\"\",\"x\":138.00000762939453,\"y\":2124.0000324249268,\"wires\":[]},{\"id\":\"eaa06376.68fe4\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":128.00000762939453,\"y\":2184.0000324249268,\"wires\":[[\"1264fe76.2b8012\"]]},{\"id\":\"1264fe76.2b8012\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"SQL\n                    (older than 30 days)\",\"func\":\"var d=new Date();\\nvar epoch=d.getTime();\\n\\n// today - 30 days\\nvar\n                    fromdate=epoch - 1000*60*60*24*30;\\n\\nmsg.topic=\\\"SELECT * FROM nvr WHERE epoch <\n                    \\\"+fromdate;\\n\\nreturn\n                    msg;\",\"outputs\":1,\"noerr\":0,\"x\":358.00000762939453,\"y\":2184.0000324249268,\"wires\":[[\"4a90a27f.4f1a5c\"]]},{\"id\":\"4a90a27f.4f1a5c\",\"type\":\"sqlite\",\"z\":\"9efa042c.1ed728\",\"mydb\":\"1c25415d.b8427f\",\"name\":\"Node\n                    Red\n                    DB\",\"x\":608.0000076293945,\"y\":2184.0000324249268,\"wires\":[[\"16f8cd9.c442a32\"]]},{\"id\":\"f43773ab.04fb9\",\"type\":\"exec\",\"z\":\"9efa042c.1ed728\",\"command\":\"sudo\n                    rm \",\" addpay\":true,\"append\":\"\",\"useSpawn\":\"false\",\"timer\":\"\",\"oldrc\":false,\"name\":\"Delete\n                    images\",\"x\":1348.0000076293945,\"y\":2184.0000324249268,\"wires\":[[],[],[]]},{\"id\":\"16f8cd9.c442a32\",\"type\":\"split\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"splt\":\"\\\\n\",\"spltType\":\"str\",\"arraySplt\":1,\"arraySpltType\":\"len\",\"stream\":false,\"addname\":\"\",\"x\":798.0000076293945,\"y\":2184.0000324249268,\"wires\":[[\"58a0e5b7.6a59dc\"]]},{\"id\":\"58a0e5b7.6a59dc\",\"type\":\"delay\",\"z\":\"9efa042c.1ed728\",\"name\":\"\",\"pauseType\":\"random\",\"timeout\":\"5\",\"timeoutUnits\":\"seconds\",\"rate\":\"1\",\"nbRateUnits\":\"1\",\"rateUnits\":\"second\",\"randomFirst\":\"50\",\"randomLast\":\"500\",\"randomUnits\":\"milliseconds\",\"drop\":false,\"x\":948.0000076293945,\"y\":2184.0000324249268,\"wires\":[[\"ac43dfad.5b253\",\"c2bd4748.fce518\"]]},{\"id\":\"cc750eb0.b57a7\",\"type\":\"sqlite\",\"z\":\"9efa042c.1ed728\",\"mydb\":\"1c25415d.b8427f\",\"name\":\"Node\n                    Red\n                    DB\",\"x\":1348.0000076293945,\"y\":2244.0000324249268,\"wires\":[[]]},{\"id\":\"ac43dfad.5b253\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set\n                    SQL\",\"rules\":[{\"t\":\"set\",\"p\":\"topic\",\"pt\":\"msg\",\"to\":\"\\\"DELETE * FROM nvr where\n                    filename='\\\" & payload.filename & \\\"'\n                    \\\"\",\"tot\":\"jsonata\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":1128.0000076293945,\"y\":2244.0000324249268,\"wires\":[[\"cc750eb0.b57a7\"]]},{\"id\":\"c2bd4748.fce518\",\"type\":\"change\",\"z\":\"9efa042c.1ed728\",\"name\":\"Set\n                    filename\",\"rules\":[{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"payload.path &\n                    payload.filename\",\"tot\":\"jsonata\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":1138.0000076293945,\"y\":2184.0000324249268,\"wires\":[[\"f43773ab.04fb9\"]]},{\"id\":\"fa52360b.8fd1d8\",\"type\":\"inject\",\"z\":\"9efa042c.1ed728\",\"name\":\"Noon\n                    timelapse\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"x\":138,\"y\":706,\"wires\":[[\"7f834a77.89c694\"]]},{\"id\":\"7f834a77.89c694\",\"type\":\"function\",\"z\":\"9efa042c.1ed728\",\"name\":\"Frame\n                    grab\",\"func\":\"var now=new Date();\\n// Create formatted time\\nvar yyyy=now.getFullYear();\\nvar\n                    mm=now.getMonth() < 9 ? \\\"0\\\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is\n                    zero-based\\nvar dd=now.getDate() < 10 ? \\\"0\\\" + now.getDate() : now.getDate();\\nvar\n                    hh=now.getHours() < 10 ? \\\"0\\\" + now.getHours() : now.getHours();\\nvar mmm=now.getMinutes() < 10 ?\n                    \\\"0\\\" + now.getMinutes() : now.getMinutes();\\nvar ss=now.getSeconds() < 10 ? \\\"0\\\" +\n                    now.getSeconds() : now.getSeconds();\\n\\n// Last update: \\\"+dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" +\n                    hh + \\\":\\\" + mmm + \\\":\\\" + ss});\\n\\n// file path with / at the end\\nvar\n                    path=\\\"/home/pi/node-red-static/\\\"; // This is the path\\nvar\n                    filename=\\\"noon_\\\"+yyyy+mm+dd+\\\"-\\\"+hh+mm+ss+\\\".jpg\\\"; // file name\\nmsg.payload=path + filename; //\n                    pass the full path to payload for the exec node to add to the end of the command\\nmsg.file=filename;\n                    // To be used later to store the information in the DB\\nmsg.path=path; // Same as\n                    above\\nmsg.wwwpath=\\\"/\\\"; // Same as above\\nmsg.topic=\\\"store\\\"; // Flag to store this image in the\n                    DB\\nmsg.type=\\\"Noon timelapse\\\"; // Image type e.g. Front camera, etc.\\nmsg.epoch=now.getTime(); //\n                    Current timestamp\\nmsg.formatteddate=dd + \\\".\\\" + mm + \\\".\\\" + yyyy + \\\" \\\" + hh + \\\":\\\" + mmm +\n                    \\\":\\\" + ss; // Formatted timestamp to be used later\\n\\nreturn\n                    msg;\",\"outputs\":1,\"noerr\":0,\"x\":308,\"y\":706,\"wires\":[[\"59d467aa.79d638\"]]},{\"id\":\"675036dd.603328\",\"type\":\"ui_group\",\"z\":\"\",\"name\":\"Frame\n                    Grab\",\"tab\":\"7af2d9c8.0a9148\",\"order\":1,\"disp\":true,\"width\":\"6\"},{\"id\":\"e16e06ca.f38438\",\"type\":\"ui_group\",\"z\":\"\",\"name\":\"Frame\n                    Statistics\",\"tab\":\"7af2d9c8.0a9148\",\"order\":2,\"disp\":true,\"width\":\"6\"},{\"id\":\"cb67921.cf4df7\",\"type\":\"ui_group\",\"z\":\"\",\"name\":\"Video\n                    Capture\",\"tab\":\"7af2d9c8.0a9148\",\"order\":3,\"disp\":true,\"width\":\"6\"},{\"id\":\"984422e9.d6d96\",\"type\":\"ui_group\",\"z\":\"\",\"name\":\"Video\n                    Statistics\",\"tab\":\"7af2d9c8.0a9148\",\"order\":4,\"disp\":true,\"width\":\"6\"},{\"id\":\"1c25415d.b8427f\",\"type\":\"sqlitedb\",\"z\":0,\"db\":\"/home/pi/sqlite/nodered\"},{\"id\":\"a06d1d6b.bdef2\",\"type\":\"ui_group\",\"z\":\"\",\"name\":\"Report\",\"tab\":\"7af2d9c8.0a9148\",\"order\":5,\"disp\":true,\"width\":\"12\"},{\"id\":\"7af2d9c8.0a9148\",\"type\":\"ui_tab\",\"z\":\"\",\"name\":\"NVR\",\"icon\":\"dashboard\",\"order\":13}]",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    }
]